# ─── API ─────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=https://jo-backend-shop.vercel.app

# ─── PUSHER (Real-time) ────────────────────────────────────────────────
NEXT_PUBLIC_PUSHER_KEY=5c0dab8f11f43914d9a6
NEXT_PUBLIC_PUSHER_CLUSTER=us2
